@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root {
    --color-black: #1B1B1D;
    --color-white: #FFF;
    --color-pink: #EE6670;
}

body {
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    /* height: 100vh; */
    margin: 0;
    padding: 0;
    /* transition: 0.4s; */
    width: 100%;
}

body.dark-theme {
    background-color: var(--color-black);
    color: var(--color-white);
}

h1 {
    font-size: 2.5em;
}

.counter {
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	margin: 0 auto;
    width: 100%;
}

.counter__progress-bar {
  background-color: var(--color-black);
  border-radius: 5px;
  margin-bottom: 30px;
  width: 60%;
}

body.dark-theme .counter__progress-bar {
    background-color: var(--color-white);
}

.counter__progress {
  background-color: var(--color-pink);
  border-radius: 5px;
  height: 20px;
  width: 0%;
}

.counter__buttons {
    margin-top: 30px;
}

.counter__value {
    align-items: center;
    background-color: var(--color-black);
    border-radius: 100px;
    box-sizing: border-box;
    color: var(--color-white);
    display: flex;
    font-size: 6rem;
    height: 200px;
    justify-content: center;
    width: 200px;
}

body.dark-theme .counter__value {
    background-color: var(--color-white);
    color: var(--color-black);
}

.counter__button {
    background: var(--color-pink);
    border: 2px solid var(--color-pink);
    border-radius: 5px;
    color: var(--color-white);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 10px;
    padding: 10px 20px;
}

.counter__button:hover,
.counter__button:active,
.counter__button:focus {
    background-color: var(--color-white);
    border-color: var(--color-pink);
    color: var(--color-pink);
}

.button-toggle {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.button-toggle__slider {
    background-color: var(--color-black);
    border-radius: 34px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 1s;
    -webkit-transition: 1s;
}

.button-toggle__slider::before {
	background-color: var(--color-black);
	border-radius: 50%;
	content: '';
	height: 26px;
	position: absolute;
	bottom: 4px;
	left: 4px;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	width: 26px;
}

.button-toggle__slider::after {
	background-color: var(--color-white);
	border-radius: 50%;
	content: '';
	height: 26px;
	position: absolute;
	top: 4px;
	left: 4px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	width: 26px;
}

.button-toggle #toggle {
	height: 0;
	opacity: 0;
	width: 0;
}

.button-toggle #toggle:checked + .button-toggle__slider {
	background-color: var(--color-white);
}

.button-toggle #toggle:checked + .button-toggle__slider::before {
	background-color: var(--color-black);
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.button-toggle #toggle:checked + .button-toggle__slider::after {
	-webkit-transform: translateX(15px);
	-ms-transform: translateX(15px);
	transform: translateX(15px);
}

.button-toggle #toggle:focus + .button-toggle__slider {
	box-shadow: 0 0 1px #2196F3;
}

.button-toggle__light-label,
.button-toggle__dark-label {
    cursor: pointer;
    position: absolute;
    top: 6px;
}

.button-toggle__light-label {
    left: -45px;
}

.button-toggle__dark-label {
    right: -45px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-black);
        color: var(--color-white);
    }

    body.light-theme {
        background-color: var(--color-white);
        color: var(--color-black);
    }

    .counter__progress-bar {
        background-color: var(--color-white);
    }

    body.light-theme .counter__progress-bar {
        background-color: var(--color-black);
    }

    .counter__value {
        background-color: var(--color-white);
        color: var(--color-black);
    }

    body.light-theme .counter__value {
        background-color: var(--color-black);
        color: var(--color-white);
    }
}
